.adminnav {
  background-color: #f44336 !important;
  z-index: 1201 !important;
}

.drawercontainer {
  overflow: auto !important;
  height: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}
.imgdash {
  height: 100%;
  position: absolute;
  width: 100%;
}
.sideContainer {
  background-color: red;
  display: flex;
}
.actuallabelhome {
  background-color: #26c6da !important;
  border-radius: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}
.labelhome {
  color: white !important;
  text-decoration: none !important;
}
.headcard1 {
  position: absolute !important ;
  background: #26c6da !important;
  float: left !important;
  color: white !important;
  padding: 15px !important;
  margin-top: -34px !important;
  height: 80px !important;
  width: 100px !important;
  margin-right: 15px !important;
  border-radius: 10px !important;
}
.headcard2 {
  position: absolute !important ;
  background: #f50057 !important;
  float: left !important;
  color: white !important;
  padding: 15px !important;
  margin-top: -34px !important;
  height: 80px !important;
  width: 100px !important;
  margin-right: 15px !important;
  border-radius: 10px !important;
}
.headcard3 {
  position: absolute !important ;
  background-color: black !important;
  float: left !important;
  padding: 15px !important;
  margin-top: -34px !important;
  height: 80px !important;
  width: 100px !important;
  margin-right: 15px !important;
  border-radius: 10px !important;
}
.cardusers {
  margin-top: 20px;
  height: 200px;
}
.userlabel1 {
  color: #999;
  margin: 0;
  font-size: 14px;
  margin-top: 0;
  padding-top: 10px;
  margin-bottom: 0;
}
.topcard1 {
  display: flex;
  justify-content: space-between;
}
.totalusers {
  margin-top: 0px;
  font-size: 26px;
  font-weight: bold;
}
.fixImage {
  display: flex;
  justify-content: center;
}
.uploadimg {
  display: flex;
  justify-content: center;
  margin-top: 30px;
  width: 250px !important;
  box-shadow: 0px 2px 1px -1px transparent, 0px 1px 1px 0px transparent,
    0px 1px 3px 0px transparent;
}
.uploadbtn {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  width: 250px !important;
  height: 150px !important;
  padding: 20px !important;
}
.addPhotobtn {
  cursor: pointer;
}
.avaBtn {
  background-color: #880e4f !important;
  cursor: pointer;
}
.resetBtn {
  color: #880e4f !important;
}
.changeIcon {
  cursor: pointer;
  display: flex;
  justify-content: center;
}
.adm-circl {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.inside-admc {
  margin-left: 1px;
  position: absolute;
  margin-top: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 37px;
}
.seprat{
    margin-top: 90px;
    margin-bottom: 20px;
}
