.twilight{
    height: 100vh;
    width: 100%;
    justify-content: center;
    display: flex;
    background-size: cover;

}
.login-container{
    height: 70%;
    display: flex;
    justify-content: center;
    margin-top: 150px;
    border-radius: 10px;
}
.form-container{

    border-radius: 10px;
}
.card-cont{
    border-radius: 15px;
}
.infinite{
    height: 70px;
    border-radius: 5px 0px 0px 0px;

}
.card-tit{
    background:linear-gradient(40deg,#ffd86f,#fc6262) !important; 
    height: 120px    ;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 500;
    border-radius: 15px 15px 0px 0px;

}
.adminform{
    flex-direction: column;
    display: flex;
    justify-content: center;
}
.label{
    font-weight: bold;
}
.se-connecter{
    background-color: #616161  !important;
    color: white !important;
    margin-top: 50px !important;
}
