.bothcardContainer {
  display: flex !important;
  justify-content: space-between !important;
  margin-left: 100px !important;
}

.drawercontainer {
  overflow: auto !important;
  height: 100%;
  position: relative;
  background: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.8));
}

.addproductbtn-cat {
  background-color: #03a9f4 !important;
  color: white !important;
  margin-left: 180px !important;
  margin-top: 30px !important;
  height: 50px;
  width: 151px;
}

.imgdash {
  height: 100%;
  position: absolute;
  width: 100%;
}

.sideContainer {
  display: flex;
}

.actuallabelhome {
  background-color: #26c6da !important;
  border-radius: 10px !important;
  margin-top: 10px !important;
  margin-bottom: 10px !important;
}

.labelhome {
  color: white !important;
  text-decoration: none !important;
}

.uploadbtn {
  display: flex !important;
}

.choixImg {
  font-family: "Oswald", sans-serif;
  margin: 10px;
  font-size: 20px;
}

.modalcontainer {
  position: relative;
  width: 750px;
  background-color: white;
  border-radius: 10px;
  height: 98%;
  overflow: auto;
}

.container-cq {
  display: flex;
  justify-content: space-between;
}

//----------------
.mod-container {
  position: relative;
  width: 720px;
  background-color: white;
  border-radius: 10px;
  border: 5px solid #f54967;
  height: 90%;
  overflow: auto;
}

.sc-title {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}

.tf-label {
  width: 75%;
  margin-top: 37px !important;
}

.center-tf {
  display: flex;
  justify-content: center;
}

.sc-img {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  height: 218px;
}

.sc-first {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  margin-bottom: 15px;
}

.sc-space {
  height: 40px;
}

.sc-walid {
  margin-top: 20px;
}

.sc-car {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin: 5px;
}

.sc-addbox {
  margin-top: 27px;
  margin-right: 8px;
  color: blue;
  cursor: pointer;
}

.sc-moins {
  margin-top: 27px;
  margin-right: 8px;

  color: blue;
  cursor: pointer;
}

.sc-margin {
  margin-left: 37px;
  display: flex;
  flex-direction: row;
}

.btn-one-cs {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 70px;
}

.sc-btnadd {
  width: 38%;
  margin-top: 15px !important;
  margin-left: 90px !important;
}

.sc-selct {
  width: 35% !important;
  height: 57px !important;
  margin-top: 15px !important;
  margin-left: 80px !important;
  margin-right: 10px !important;

  outline: none !important;
}
.input-multiple {
  display: flex;
  width: 400px !important;
  margin-top: 15px !important;
  margin-left: 140px !important;
}

//----------------
.modFlipped {
  position: relative;
  height: 80%;
  width: 750px;
  background-color: white;
  border-radius: 10px;
  height: 90%;
}

.chooselabel {
  margin-top: 20px !important;
  margin-left: 20px !important;
  width: 500px !important;
}

.trythis {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 1s !important;
  z-index: 1 !important;
  width: 100%;
  background: #fff !important;
  backface-visibility: hidden !important;
}

.imgmarg {
  margin: 20px;
}

.backFlip {
  position: absolute;
  z-index: 2 !important;
  backface-visibility: hidden !important;
}

.titcontainer {
  display: flex;
  justify-content: center;
}

.familytitle {
  font-family: "Oswald", sans-serif;
}

//card1
.consultContainer {
  position: relative !important;
  height: 250px !important;
  width: calc(400px - 30px);
  height: calc(300px - 30px);

  background: #f54967 !important;
  float: left;
  overflow: hidden;
}

.consult {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: #f54967;

  transition: 0.5s;
  z-index: 1;
  cursor: pointer;
}

.img-consult {
  display: flex;
  justify-content: center;
  width: 50px;
  height: 50px;
}

.formimg {
  overflow: auto !important;
  height: 90% !important;
}

.consultContainer:hover .consult {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d03852;
}

.consultContainer .consult .testicon {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.consultContainer:hover .consult .testicon {
  font-size: 40px;
}

.consultContainer .contentTest {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
  color: white;
}

.consultContainer:hover .contentTest {
  top: 100px;
  opacity: 1;
}

.consultContainer .contentTest h3 {
  margin: 0;
  padding: 0;
  color: white;
}

.consultContainer .contentTest p {
  color: white;
}

.btncate {
  margin: 0;
  padding: 0;
  color: white !important;
}

//card3
.consultContainerthree {
  position: relative !important;
  height: 250px !important;
  width: calc(400px - 30px);
  height: calc(300px - 30px);
  background: #328fa5 !important;
  float: left;
  overflow: hidden;
  margin-left: 120px;
}

.consultthree {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #23798e;
  transition: 0.5s;
  z-index: 1;
  cursor: pointer;
}

.consultContainerthree:hover .consultthree {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #23798e;
}

.consultContainerthree .consultthree .testiconthree {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.consultContainerthree:hover .consultthree .testiconthree {
  font-size: 40px;
}

.consultContainerthree .contentTestthree {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
}

.consultContainerthree:hover .contentTestthree {
  top: 100px;
  opacity: 1;
}

.consultContainerthree .contentTestthree h3 {
  margin: 0;
  padding: 0;
  color: white;
}

.consultContainerthree .contentTestthree p {
  color: white;
}

.btn-one {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-top: 15px;
}

//table
.tabcontain {
  margin-top: 70px;
  margin-left: 90px;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  opacity: 1;
}

.addicon {
  color: blue;
  margin-right: 60px;
  cursor: pointer;
}

.tabnotcontain {
  margin-top: 70px;
  margin-left: 90px;
  width: 100% !important;
  display: none !important;
  justify-content: center !important;
  opacity: 0;
}

.delicon {
  color: red;
  margin-right: 20px;
  cursor: pointer;
}

.edicon {
  color: green;
  margin-right: 20px;
  cursor: pointer;
}

.formprod {
  width: 90%;
}

.fix-table {
  width: 200px !important;
  height: 400px !important;
}

.labels {
  margin-top: 10px;
  font-size: 18px;
  font-family: "Oswald", sans-serif;
}

.another-fix {
  height: 250px !important;
}
