.formContainer {
    padding: 20px;
    width: 750px;
    box-shadow: 0.2px 0.2px 1.5px 1.5px black;
}

.home {

    box-sizing: border-box;
    justify-content: center;
    display: flex;
    align-items: center;
}

.formNom {
    margin-top: 10px;
}

.btnsubmit {
    display: flex;
    justify-content: center;
    align-items: center;
}

.errorMessage {
    color: red;
    font-size: 0.76em;
    display: relative;
    font-weight: bold;
}

input.error {
    border: 2px solid red;
}

.errorIcon {
    color: red;
    padding: 2px;
}

.showpass2 {
    padding-right: 3px;
    padding-left: 15px;

}
.showpass{
    padding-left: 3px;
    padding-right: 15px;

}
.eyeShown {
    margin-top: 29px;
    display: flex;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    height: 50px;

}

.eyeNotshown {
    margin-top: 29px;
    display: none;
    cursor: pointer;
    padding-right: 15px;
    padding-left: 15px;
    align-items: center;
    justify-content: center;
    align-self: flex-start;
    height: 50px;
}

.eyeShown:active {
    background-color: #eceff1;
    border-radius: 60%;
 
}

.eyeNotshown:active {
    background-color: #eceff1;
    border-radius: 50%;

}

.eye2 {

    margin-top: 29px;
    visibility: hidden;
}