.prodtabshow {
  opacity: 1;
  display: flex;
  width: 50px !important;
  height: 50px !important;
  background-color: red !important;
}

.prodtabhide {
  opacity: 0;
  display: none;
  width: 50px !important;
  height: 50px !important;
  background-color: red !important;
}
.tab-ji {
  margin-left: 80px !important;
}
.mat-sear {
  width: 750px;
}
.mat-tabl {
  width: 800px !important;
  background-color: red !important;
}
.ic-sear {
  position: absolute;
  right: 0px;
  margin-right: 412px;
  margin-top: 10px;
  cursor: pointer;
}
.btt-ad {
  margin-left: 75px !important;
  margin-bottom: 20px !important;

  width: 260px;
}
.sear-ji {
  margin-bottom: 37px;
  display: flex;
  flex-direction: row;
}
.title-ajout {
  font-family: "Oswald", sans-serif;
  font-size: 30px;
}
.promo-inputone {
  display: flex !important;
  width: 200px !important;
  margin-left: 40px !important;
  margin-bottom: 25px !important;
}
.promo-input {
  display: flex !important;
  width: 200px !important;
  margin-left: 80px !important;
  margin-bottom: 25px !important;
}
.promo-contai {
  margin-top: 10px;
}

.MuiPickersCalendarHeader-transitionContainer {
  width: auto !important;
  height: 23px !important;
  overflow: hidden !important;
}
.MuiTypography-alignCenter {
  position: relative !important;
}
.container-dates {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.promo-in {
  width: 160px !important;
}
.trythis-prod {
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  transition: 1s !important;
  z-index: 1 !important;
  width: 100%;
  background: #fff !important;
  backface-visibility: hidden !important;
}

.formNom-prod {
  margin-top: 10px !important;
  margin-left: 0px !important;
  margin-bottom: -7px !important;
}

.prod-grp {
  margin-top: 10px !important;
  margin-bottom: 8px !important;
  margin-left: 0px !important;
}

.text-area {
  border: 1px solid #bdbdbd !important;
  border-radius: 8px;
  width: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  padding: 7px;
  font-size: 15px !important;
  height: 100px !important;
}

.imgandbtn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: 240px;
}

.text-area:focus {
  border: 2px solid #bdbdbd !important;
  border-radius: 8px;
  width: 100%;
  outline: none;
}

.last-prod-grp {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}

.text-lab {
  font-family: "Oswald", sans-serif;
}

.bot-back {
  position: absolute !important;
  bottom: 15px !important;
  background-color: #f5f5f5 !important;
}
.down-input {
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  height: 300px;
  overflow: auto;
}
.input-char {
  width: 300px !important;
  margin-left: 60px !important;
}
.container-inputs {
  display: flex;
  flex-direction: row;
  align-items: center;
}
.char-text {
  margin-top: 10px;
  margin-left: 20px;
  width: 120px;
  font-family: "Oswald", sans-serif;
}
.bot-btn {
  position: absolute !important;
  bottom: 15px !important;
  left: 110px !important;
}

.addproductbtn {
  background-color: #03a9f4 !important;
  color: white !important;
  margin-top: 150px !important;
  height: 50px;
  width: 151px;
}

//card prod
.consultContainer-prod {
  position: relative !important;
  height: 250px !important;
  width: calc(400px - 30px);
  height: calc(300px - 30px);

  background: #f54967 !important;
  float: left;
  overflow: hidden;
}

.consult-prod {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: #f54967;

  transition: 0.5s;
  z-index: 1;
  cursor: pointer;
}

.formimg {
  overflow: auto !important;
  height: 90% !important;
}

.consultContainer-prod:hover .consult-prod {
  top: 20px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  border-radius: 50%;
  background: #d03852;
}

.consultContainer-prod .consult-prod .testicon-prod {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 80px;
  transition: 0.5s;
  color: #fff;
}

.consultContainer-prod:hover .consult-prod .testicon-prod {
  font-size: 40px;
}

.consultContainer-prod .contentTest-prod {
  position: absolute;
  top: 100%;
  height: calc(100% - 100px);
  text-align: center;
  padding: 20px;
  box-sizing: border-box;
  transition: 0.5s;
  opacity: 0;
  color: white;
}

.consultContainer-prod:hover .contentTest-prod {
  top: 100px;
  opacity: 1;
}

.consultContainer-prod .contentTest-prod h3 {
  margin: 0;
  padding: 0;
  color: white;
}

.consultContainer-prod .contentTest-prod p {
  color: white;
}

.btncate {
  margin: 0;
  padding: 0;
  color: white !important;
}

//rotated Modal
.modal-rotate {
  margin-left: 20px !important;
  margin-right: 10px !important;
}

.rot-marg {
  margin-top: 12px;
}

.position-area {
  margin-bottom: 10px;
}

.test-rota {
  border-radius: 20px !important;
}
