.titlecateg{
    margin-bottom: 30px;
    background: -webkit-linear-gradient(#000000, #2D3436);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;    font-size: 32px;
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
  
}

.cat-container{
    width: 92%;
    margin-top: 10px;
    margin-left: 60px;
}
.car-over{
    margin: 0px;
}
.achterbtn{
    margin-top: 12px !important;
    font-family: 'Oswald', sans-serif !important;

}
.subcatLabel{
    font-family: 'Oswald', sans-serif;
    font-weight: bold;
    font-size: 19px;
}
.img-over{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 282px;
   
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14), 0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.car-over:focus {
    box-shadow: 0 0 0 0.2rem transparent !important;
    outline: none !important;
}
.car-img{
    margin-top: 20px;
    width: 150px !important;
    height: 150px;
}

//-------------
.populaire-container {
    width: 90%;
    margin-top: 88px;
    margin-left: 50px;
}
.populaire-title{
    font-family: 'Oswald', sans-serif !important;
    font-size: 27px;
}
