.ctct-nou {
  margin-top: 45px;
  font-family: "Oswald", sans-serif;
  font-size: 45px;
}
.contact-container {
  margin-bottom: 50px;
  border-radius: 20px;
  width: 1200px;
  height: auto;
  border: 1px solid black;
}
.sig-ctct {
  margin-top: 50px;
  border: 1px solid #bdbdbd !important;
  border-radius: 8px;
  width: 880px !important;
  outline: none;
  display: flex;
  flex-direction: column;
  padding: 7px;
  font-size: 15px !important;
  height: 150px !important;
}
.cntr-ctct {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 50px;
}
.resi-sgl {
  width: 250px !important;
  margin-left: 100px !important;
  margin-top: 14px !important;
}
.res-tyf {
  margin-left: 100px !important;
}
.direction-inputs {
  display: flex !important;
  flex-direction: row !important;
}
.em-edi {
  font-size: 70px !important;
  margin-bottom: 10px !important;
  margin-right: 10px !important;
}
.btn-ctctnous {
  margin-top: 10px !important;
  border-radius: 30px !important;
  margin-bottom: 50px !important;
}
.dis-tr {
  display: flex;
  flex-direction: row;
}
.tel_ph {
  margin-bottom: 65px !important;
}
.clas-msg {
}
