.home {
    display: flex;
}

.promoTitle {
    margin-top: 50px;
    margin-left: 50px;
}

.cards {
    margin: 0px;
}

.slick-prev:before,
.slick-next:before {
    color: black !important;
}

.slide-container {
    width: 90%;
    margin-top: 20px;
    margin-left: 50px;
}

h3 {
    text-align: center;
}

.cardImage {
    padding: 15px;
    width: 175px;
    height: 200px;
    cursor: pointer;
}

.ligne {
    border-top: 1px solid #cfd8dc;
    width: 100%;
}

.pricePoints {
    display: flex;
    justify-content: space-between;
}

.priceLabel {
    font-family: 'Oswald', sans-serif;
    margin-left: 10px !important;
    font-weight: bold;
    font-size: 18px;
}

.pointsLabel {
    font-family: 'Oswald', sans-serif;

    margin-right: 7px !important;
    color: #9e9e9e;
}

.noPadding {
    padding: 0 !important;
}

.descriptionContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

.descriptiontext {
    margin-left: 10px !important;
    margin-right: 7px !important;

    color: #323232;
    height: 50px;
    font-size: 12px;
    text-align: center;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 231px;
    word-break: break-word;
}

.descriptionother {
    margin-left: 10px !important;
    margin-right: 7px !important;

    color: #323232;
    height: 50px;
    font-size: 12px;
    text-align: center;
    width: 230px;
    display: flex;
    justify-content: center;
    align-items: center;
    word-break: break-word;
}

.ratingStars {
    margin: 10px !important;
}

.stars {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.avisContainer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-right: 4px;
}

.avis {
    font-size: 12px;
    margin: 3px;
}
.avisPts {
    font-size: 12px;
}
.imgContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 431px;
    box-shadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2), 0px 3px 4px 0px rgba(0, 0, 0, 0.14),
        0px 1px 8px 0px rgba(0, 0, 0, 0.12);
}
.fieldsetPadding {
    margin: 0px !important;
    height: 95px !important;
}
.cards {
    outline: none !important;
}

.imgContainer:focus {
    outline: none !important;
}
.addcart {
    margin-top: 10px !important;
    margin-left: 15px !important;
}

.addarts {
    margin-top: 10px !important;
    margin-left: 15px !important;
}
.addarts:hover {
}
.addcartLabel {
    font-family: 'Oswald', sans-serif;
}
.addcart:focus {
    outline: none !important;
}

.label-prod {
    display: flex;
    justify-content: center;
    font-family: 'Oswald', sans-serif;
    cursor: pointer;
    font-size: 20px;
    margin-bottom: 0px;
}
.priceLabel-promo {
    margin-left: 10px !important;
    color: gray;
    font-size: 14px;
    text-decoration: line-through;
    margin-top: 0px;
}
.heart-prod {
    position: absolute;
    right: 2px;
    cursor: pointer;
    top: 2px;
}
.heart-prod:hover {
}
.triangle-img {
    width: 65px;
    height: 0;
    margin-left: -0.5px;
    border-top: 50px solid rgba(24, 24, 24, 0.6);
    border-right: 27px solid transparent;
    position: absolute;
}
.col-heart {
    color: #f06292;
    opacity: 0.7;
    transition: all 0.5s ease-in-out;
}

.col-heart-active {
    color: #f50057;
    opacity: 1;
}

.col-heart:hover {
    color: #f50057;
    opacity: 1;
}
.codheat {
    color: black;
}
.scnd-heart {
    color: rgba(0, 0, 0, 1);
}
.triangle-content {
    color: white;
    position: absolute;
    top: -60px;
    left: 12px;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}
//test all categories styles

.categories-container {
    display: flex;
    margin-left: 80px;
    margin-right: 80px;
    flex-wrap: wrap;
}

.cardBd {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardBd2 {
    display: none;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    transition: 1s;
}

.cardCat {
    border-radius: 5px;
    box-shadow: 0.2px 0.2px 1.5px 1.5px #cfd8dc;
    box-sizing: border-box;
    margin: 20px;
    overflow: auto;
}

.firstBody {
    display: flex;
    font-size: 22px;
    font-family: 'Oswald', sans-serif;
}

.thirdBody {
    height: 70px;
    width: 28%;
    display: none;
    transition: 1s;
    justify-content: center;
    background-color: #f3f3f3;
    border-radius: 50%;
    margin: 7px;
    cursor: pointer;
}

.secondBody {
    position: absolute;
    bottom: 0;
    height: 28px;
    background-color: #f3f3f3;
    width: 100%;
    margin-left: -20px;

    margin-top: 6px;
    padding: 0;
    border-radius: 5px;
    display: none;
    justify-content: center;
    cursor: pointer;
}

.third {
    height: 70px;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.sub-img {
    background-color: transparent;
    width: 42px;
    height: 50px;
}

.img {
    position: absolute;
    width: 50%;
    height: 50%;
    display: none;
}

.imgTest {
    width: 200px !important;
    height: 120px !important;
    display: flex;
    margin: 10px;
}

.cardCat :hover {
    background: transparent;
    transition: 0.7s;
}

.cardCat :hover .cardBd2 {
    display: flex;
    transition: 1s;
}

.cardCat :hover .firstBody {
    display: none;
    transition: 1s;
}

.cardCat :hover .secondBody {
    display: flex;
    transition: 1s;
}

.cardCat :hover .thirdBody {
    display: flex;
}

.secondBody:hover {
    background-color: #00b5cc;
}

.thirdBody:hover {
    background-color: #00b5cc;
}

.cardCat :hover .imgTest {
    display: none;
}

.a :hover {
    background-color: red;
}
