
.text1{
    justify-content: center;
    display: flex;
}

.form1{
    padding-right:50px;
}
.form2{
    padding-right:50px;
    justify-content: center;
    display: flex;
    margin-top:40px;
}
.form4{
    justify-content: center;
    display: flex;
    margin-top:40px;
}
.form5{
    justify-content: center;
    display: flex;
    font-size: 13px;
}
.form3{
    padding-right:50px;
    justify-content: center;
    display: flex;
    margin-top:10px;
}
.input{
    border: 2px solid !important;
}
.vl {
    margin-top: 40px;
    border-left: 1px solid black;
    height: 380px;
  }
  .btnCnct {
      width: 100%;
      margin-top: 40px;
  }
  .btnCreer1{
    width: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}
  .btnCreer {
    width: 75%;
}

  .btnCnctFB {
    width: 75%;
    background: #1a237e !important ;
}
.btnCnctGG {
    width: 75%;
    background: #e64a19 !important ;
}
.fb {
    background: #1a237e !important ;
}

 
