.labels-order {
  font-family: "Oswald", sans-serif !important;
  font-size: 18px !important;
}
.labels-status {
  font-family: "Oswald", sans-serif !important;
  font-size: 18px !important;
  display: flex !important;
  justify-content: center !important;
}
.id-position {
  margin-left: -15px !important;
}
.img-day {
  width: 80px;
  height: 100px;
}
.dytr{
  margin-top: 20px;
  border-bottom: 1px solid black;
}
.plz-dis {
  display: flex;
  justify-content: center;
  align-items: center;
}
.prof-left {
  display: flex;
  align-items: center;
  flex-direction: row;
  margin: 10px;
}
.circle-text {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 40px;
}
.inside-circle {
  margin-left: 1px;
  position: absolute;
  margin-top: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 37px;
  color: white;
}
.fi-name {
  font-family: "Oswald", sans-serif;
  margin-left: 10px;
  font-size: 26px;
}
.la-name {
  margin-top: 9px;
  margin-left: 10px;
  font-size: 15px;
  color: rgba(0, 0, 0, 0.54);
}
.w3-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.w3-containerbad {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 24px;
}
.w3-border {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 81px;
  height: 7px;
  border-radius: 4px;
  background: #e0e0e0;
}
.w3-grey {
  width: 42px;
  height: 7px;
  border-radius: 4px;
  background: #ff5722;
}
.w3-circle {
  margin-left: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 3px solid #ff5722;
}
.w3-text {
  margin-left: 4px;
}
.w3-greysuccess {
  width: 79px;
  height: 7px;
  border-radius: 4px;
  background: #00e676;
}
.w3-circlesuccess {
  margin-left: 14px;
  width: 12px;
  height: 12px;
  border-radius: 50px;
  border: 3px solid #00e676;
}
.status-position {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
  height: 64px !important;
}
.del-position {
  height: 64px !important;
}
.cons-position {
  height: 63px !important;
}
.order-delt {
  height: 20px !important;
}
.fav-delt {
  margin-top: 20px !important;
  margin-left: 120px !important;
}
.ides-tool {
  margin-left: 20px;
  display: flex;
  flex-direction: row;
}
.rota-order {
}
.tit-rodl {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
}
.no-order {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  opacity: 0.5;
  margin-top: 50px;
}
.wuk {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-left: 50px;
  cursor: pointer;
}
.wuk-two {
  margin-top: 25px;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-left: 5px;
  cursor: pointer;
}
.wuk-one {
  margin-top: 26px;
  cursor: pointer;
}
