.page-container {
  overflow: auto;
  height: auto;
}

.pannelContainer {
  width: 100%;
  display: flex;
  justify-content: center;
  height: auto;
}

.title-pannel {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-top: 37.7953px;
}

.ligne-horz {
  border-top: 1px solid #bdbdbd;
  width: 100%;
}

.second-ligne {
  display: flex;
  justify-content: center;
  margin-top: 60px;
  border-top: 2px solid #bdbdbd;
  width: 100%;
}

.last-ligne {
  display: flex;
  justify-content: center;
  border-top: 2px solid #bdbdbd;
  width: 70%;
}
.last-ligne2 {
  display: flex;
  justify-content: center;
  border-top: 2px solid #bdbdbd;
  width: 100%;
  margin-bottom: 60px;
}
.title-panel{
   color: #283593;
   cursor: pointer;
}.title-panel:hover{
  color: orange;
}
.fri-cen{
  flex-direction: column;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
}
.sp-frid{
  font-size: 200px !important;
}
.imgpannel {
  width: 140px !important;
  border-radius: 5px;
  padding: 10px;
  border: 1px solid black;
  height: 140px !important;
  cursor: pointer;
}

.prod-pannel {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: center;
}

.emptyDiv {
  height: 250px;
}

.prod-second {
  margin-top: 19px;
  margin-bottom: 19px;
  display: flex;
  flex-direction: row;
  width: 70%;
}

.desc-pannel {
  display: flex;
  flex-direction: column;
  margin-left: 25px;
}

.another-title {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  margin-bottom: 10px;
}

.another-desc {
  color: #323232;
  height: 50px;
  font-size: 14px;
  width: 500px;
  height: 80%;
}

.another-points {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.dia-prod {
  margin-top: 6px;
  margin-right: 5px;
}

.another-favoris {
  text-decoration: underline;
  color: #2196f3;
  margin-left: 230px;
  cursor: pointer;
}

.another-heart {
  color: #2196f3;
}

.delete-rowp {
  color: #df0d27;
  text-decoration: underline;
  margin-left: 120px;
  cursor: pointer;
}

.anotherspace {
  display: flex;
  flex-direction: row;
}

.space {
  margin-left: 120px;
}

.another-one {
  display: flex;
  justify-content: center;
}

.mid-ligne {
  display: flex;
  justify-content: center;
  border-top: 1.5px dashed #e0e0e0;
  width: 100%;
  margin-bottom: -1.3px;
}
.shp-not {
  display: flex !important;
  justify-content: center !important;
  align-items: center !important;
}
.shp-vide {
  padding-top: 10px;
  margin-left: 72px;

  color: black;
  font-family: Arial, sans-serif;
  font-size: 13px;
  line-height: 1.5;
}
.cont-shop {
  display: flex;
  flex-direction: row;
  color: #8b8a96;
  margin-left: 25px;
  margin-top: 50px;
  cursor: pointer;
}

.continue-shop {
  font-family: "Oswald", sans-serif;
  color: #8b8a96;
}

.my-step {
  outline: none !important;
}
.both-prix {
  display: flex;
  flex-direction: column;
}
.pricePannel {
  padding: 15px;
  font-weight: bold;
  margin-left: 15px;
  width: 120px;
}
.new-pricePan {
  top: 5px;
  margin-left: 30px;
  width: 110px;
  color: gray;
  font-size: 14px;
  text-decoration: line-through;
  margin-top: 0px;
}
.sumLabel {
  font-weight: bold;
  font-size: 22px;
  margin-right: 250px !important;
  float: right;
}

.awsm-btn {
  width: 200px !important;
  height: 60px !important;
}
.awsm-container {
  display: flex;
  position: absolute;
  right: 50px;
  margin-top: 80px !important;
}

//trying something
$block: ".quantity-input";
$border: 0 solid #dbdbdb;
$border-radius: 3px;
$color--primary: #f3f3f3;
$modifier--text-color: #888;

#{$block} {
  display: flex;
  justify-content: center;
  align-items: center;

  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
  border-radius: $border-radius;

  &:focus {
    background: red;
  }
}

#{$block}__modifier,
#{$block}__screen {
  user-select: none;
  outline: none;
}

#{$block}__modifier {
  padding: 0.7rem;
  width: 3rem;
  font-size: 1.5rem;

  background: $color--primary;
  color: $modifier--text-color;
  border: $border;
  text-align: center;
  text-shadow: 0 1px 0 rgba(#fff, 0.6);
  outline: none;
  cursor: pointer;

  &:hover {
    background: darken($color--primary, 10%);
    color: darken($modifier--text-color, 20%);
  }

  &--left {
    border-radius: $border-radius 0 0 $border-radius;
  }

  &--right {
    border-radius: 0 $border-radius $border-radius 0;
  }
}

#{$block}__screen {
  width: 4rem;
  padding: 0.7rem;
  font-size: 1.5rem;
  outline: none;
  border: 0;
  border-top: $border;
  border-bottom: $border;
  text-align: center;
}

//checkout
.step-one {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  margin-top: 25px;
}
.stp1 {
  border-top: 15px solid transparent;
  border-bottom: 15px solid transparent;
  border-left: 10px solid #55c7de;
  height: 32px;
}
.stp2 {
  background-color: #55c7de;
  font-family: "Oswald", sans-serif;
  font-size: 18px;
  display: flex;
  color: white;
  width: 60px;
  align-items: center;
  justify-content: center;
}
.stp3 {
  font-family: "Oswald", sans-serif;
  font-size: 22px;
  margin-left: 20px;
}
.form-order {
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}
.adrs-order {
  width: 700px !important;
  margin-top: 25px !important;
  display: flex !important;
}
.add-disable{
  display: none !important;
}
.check-val {
  width: 700px !important;
  margin-top: 40px !important;
}
.check-paper {
  margin-top: 30px;
  margin-left: 60px;
  min-height: 300px;
  width: 300px !important;
  height: auto;
  overflow: auto;
}

.save-co {
  margin-left: 50px !important;
  color: red !important;
  margin-top: 15px;
  cursor: pointer;
}
.container-of {
  display: flex;
  justify-content: center;
  align-content: center;
}
.img-checkout {
  margin-top: 10px;
  width: 90px;
  height: 100px;
}
.right_check {
  margin-left: 80px !important;
}
.tek_tek {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.lbl-checkout {
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  margin-top: 10px;
}
.test-tek {
  display: flex;
  justify-content: center;
}

.btn-cenf {
  width: 300px !important;
  height: 42px !important;
  margin-top: 80px !important;
  margin-left: 600px !important;
}
.empt-cart{
  height: 500px;
}
