.containerproduct {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.3),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  width: 720px;
  height: auto;
  background-color: #eceff1;
}

.productLabel {
  font-family: "Oswald", sans-serif;
  font-weight: bold;
  font-size: 25px;
  margin-bottom: 15px;
  margin-left: 15px;
}
.fri-direct {
  display: flex;
  flex-direction: row;
}
.check {
  color: green;
}
.checknot {
  color: red;
}
.addcartprod {
  margin-left: 15px !important;
  border: 1.5px solid !important;
  width: 250px;
  margin-bottom: 5px !important;
}

.addcartLabelprod {
  font-family: "Oswald", sans-serif;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.diamondprod {
  margin-left: 5px;
  color: #26c6da;
}

.addcartprod:focus {
  outline: none !important;
}

.shopcarticon {
  margin-left: 10px;
}

.desclabel {
  font-family: "Oswald", sans-serif;
}

.desc {
  height: auto;
  padding: 4px;
}

.mydesc {
  margin-left: 5px;
}

.desc2 {
  padding: 4px;
}

.addfavoris {
  cursor: pointer;
}

.desc3 {
  padding: 4px;
}

.desc4 {
  padding: 4px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.favoris {
  text-decoration: underline;
  color: #f50057;
  margin-right: 10px;
}

.titlePrice {
  display: flex;
  justify-content: space-between;
}

.heart {
  color: #f50057;
}
.heartcovrer {
  color: #f50057;
}

.prix {
  color: #607d8b;
  margin-right: 50px;
}

.imgproduits {
  display: flex;
  justify-content: center;
  margin-left: 0;
}

.imgP {
  width: 400px;
  height: 350px;
}

.aviscontainerprod {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 160px;
}

.aviscl {
  box-shadow: 0px 6px 3px 0px rgba(0, 0, 0, 0.2),
    0px 3px 3px 0px rgba(0, 0, 0, 0.14), 0px 3px 6px 0px rgba(0, 0, 0, 0.12);
  border: 1.8px solid black;
  background-color: #fafafa;
  height: auto;
  padding-bottom: 5px;
}

.avisprod {
  display: flex;
  justify-content: center;
  height: 50px;
  border: 1.4px solid black;
  width: 1100px;
  align-items: center;
  margin: -1.7px -2px 0px -1.8px;
}
.tireCmnt {
  font-family: "Oswald", sans-serif;
  margin-left: 40px;
  font-weight: bolder;
  margin-bottom: 0px !important;
  display: flex;
  flex-direction: row;
}
.null-cmnt {
  font-size: 35px;
  font-family: "Oswald", sans-serif;
  opacity: 0.5;
  margin-top: 50px;
}
.icon-empty {
  width: 350px;
  height: 280px;
}
.sct-signl {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}

.report-modal-container {
  display: flex;
}

.select-area {
  flex: 1 1 0;
  margin-right: 5px;
}
.bigger{
  margin-top: 100px;
}
.sig-area {
  margin-top: 20px;
  border: 1px solid #bdbdbd !important;
  border-radius: 8px;
  width: 100%;
  outline: none;
  display: flex;
  flex-direction: column;
  padding: 7px;
  font-size: 15px !important;
  height: 100px !important;
  flex: 1 1 0;
  margin-left: 5px;
}
.isnthere {
  color: gray;
  text-decoration: line-through;
  font-size: 15px;
  margin-right: 50px;
}
.sig-edit {
  display: flex;
  flex-direction: row;
}
.del-ed {
  margin-bottom: 0px;
  cursor: pointer;
}
.pts-edit {
  margin-left: 150px;
}
.first_cmnt {
  height: auto;
  margin-top: 12px;
  padding: 0 !important;
}

.cmt_container {
  height: 440px;
  overflow: auto;
}

.text-comnt {
  bottom: 0;
}
.signl-rep {
  margin-left: 40px;
  cursor: pointer;
}
.signl-rep:hover {
  text-decoration: underline;
}
.flag-cmnt {
  margin-bottom: 5px;
  color: #75727f;
}
.type-cmnt {
  width: 740px;
  margin-left: 20px;
  margin-top: 4px;
  border-radius: 15px;
  resize: none;
  outline: none;
  margin-bottom: 7px;

  padding-left: 10px !important ;
  padding-right: 10px !important ;
  padding-top: 10px !important ;
  padding-bottom: 10px !important ;
}
.cmnt-toast {
  background-color: red !important;
}
.type-reply {
  display: none;
  width: 650px;
  margin-left: 50px;
  margin-top: 4px;
  border-radius: 15px;
  resize: none;
  outline: none;
  padding-left: 5px !important ;
  padding-right: 5px !important ;
  padding-top: 5px !important ;
  padding-bottom: 5px !important ;
}
.type-reply-hide {
  display: flex;
  width: 650px;
  margin-left: 50px;
  margin-top: 4px;
  border-radius: 15px;
  resize: none;
  outline: none;
  padding-left: 5px !important ;
  padding-right: 5px !important ;
  padding-top: 5px !important ;
  padding-bottom: 5px !important ;
}
.reply-cmnt {
  display: flex;
  flex-direction: row;
  margin-left: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  color: #0d47a1;
}

.reply-cmnt:hover {
  text-decoration: underline;
  cursor: pointer;
}
.user-icon {
  color: gray;
  margin-right: 3px;
}
.date-cmnt {
  font-size: 11px;
  color: gray;
  margin-left: 3px;
  margin-top: 6px;
}
.thiscmnt {
  font-size: 14px;
  color: #75727f;
  margin-left: 40px;
  margin-top: -10px;

  padding-bottom: 0 !important;
  margin-bottom: 0 !important;
}
.avislabel {
  margin-top: 7px;
  font-family: "Oswald", sans-serif;
  font-size: 20px;
}

.cmnts {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.cmntlabel {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  margin-left: 17px;
}
.cmntcontainer {
  margin-top: 27px;
  position: relative;
  width: 750px;
  height: auto;
}

.votecontainer {
  display: flex;
  justify-content: center;
  width: 280px;
  height: 300px;
  border: 1.8px solid black;
  margin-right: 20px;
  margin-top: 70px;
}

.evallabel {
  font-family: "Oswald", sans-serif;
  font-size: 18px;
}

.evallabel1 {
  font-family: "Oswald", sans-serif;
  font-size: 13px;
  font-weight: bolder;
}

.new_line {
  height: 60px;
  width: auto;
  display: flex !important;
  justify-content: center !important;
}

.first_line {
  width: auto;
  display: flex !important;
  justify-content: center !important;
}
.rateIt {
  display: flex !important;
  justify-content: center !important;
}

.review_container {
  display: flex;
  width: 100%;
  justify-content: space-between;
}
.writer-rat {
  margin-left: 10px;
}
