.pap-leftuser {
  margin-left: 45px !important;
  min-height: 350px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 0.3125rem 0 rgba(0, 0, 0, 0.12) !important;
}
.pap-right {
  margin-left: 60x !important;
}
.user-right {
  margin-left: 60x !important;
  height: 350px;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 0.3125rem 0 rgba(0, 0, 0, 0.12) !important;
}
.user-fav {
  margin-left: 60x !important;
  min-height: 350px !important;
  max-height: 700px !important;
  height: auto !important;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 0.3125rem 0 rgba(0, 0, 0, 0.12) !important;
  overflow: auto !important;
}
.info-prof {
  margin-left: 40px;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
}
.info-all {
  margin-top: 30px;
  margin-left: 40px;
  font-family: "arial", sans-serif;
  font-size: 16px;
}
.twobtns {
  display: flex;
  flex-direction: row;
}
.try-btn {
  color: red;
}
.disbtn {
  color: blue;
}
.btnsit {
  cursor: not-allowed;
  pointer-events: none;

  /*Button disabled - CSS color class*/
  color: #c0c0c0;
  background-color: #ffffff;
}
.btn-profile {
  margin-top: 50px !important;
  margin-left: 40px !important;
  background-color: #ff5722 !important;
  color: white !important;
}
.inp-profi {
  width: 380px !important;
}
.dirc-form {
  display: flex;
  flex-direction: column;
}
.btn-passw {
  margin-top: 50px !important;
  margin-left: 40px !important;
  background-color: black !important;
  border: 3px solid red !important;
  color: white !important;
}
.supervisor {
  margin-top: 30px !important;
}
.fav-right {
  overflow: auto;
}
.row-directi {
  display: flex;
  flex-direction: column;
}
.col-directi {
  margin-top: 10px;
  display: flex;
  flex-direction: row;
  padding: 10px;
}
.border-fav {
  border: 1px solid black;
  border-radius: 10px;
}
.img-favo {
  width: 100px;
  height: 100px;
}
.tex-fav {
  margin-top: 33px;

  margin-left: 80px;
  font-family: "Oswald", sans-serif;
  font-size: 19px;
  font-weight: bolder;
  width: 340px;
}
.pri-fav {
  margin-top: 35px;

  margin-left: 20px;
  font-family: "arial";
  font-size: 16px;
}
