.left-side {
  margin-left: 20px !important;
}
.right-side {
  margin-left: 5px !important;
  height: 45px !important ;
  display: flex;
}
.stat-top {
  padding-bottom: 10px;
  max-height: 300px;
  margin-top: 10px;
  min-height: 155px !important;
  max-height: 290px !important;
  height: auto;
  overflow: auto;
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 0.3125rem 0 rgba(0, 0, 0, 0.12) !important;
}
.stat-caracone {
  box-shadow: 0 3px 1px -2px rgba(0, 0, 0, 0.2), 0 2px 2px 0 rgba(0, 0, 0, 0.14),
    0 1px 0.3125rem 0 rgba(0, 0, 0, 0.12) !important;

  padding-bottom: 10px;
  max-height: 310px !important;
  margin-top: 25px;
  min-height: 160px !important;
  height: auto;
  overflow: auto;
}
.card-sub {
  outline: none;
  margin-left: 20px;
  margin-top: 20px;
}
.this-products {
  margin-top: 20px;
  display: flex;
  width: 1040px;
  flex-wrap: wrap;
}
.mr-charact {
  margin-left: 20px !important;
}
.top-name {
  font-family: "Oswald", sans-serif;
  font-size: 25px;
  padding: 2px;
  margin-left: 10px;
  margin-top: 15px;
}
.ts-name {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  padding: 2px;
  margin-left: 20px;
  margin-top: 10px;
}
.direction-under {
  display: flex;
  flex-direction: column;
}
.crnt-sub {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  align-items: flex-end;
}
.others-sub {
  flex-direction: row;
  margin-left: 30px;
}
.top-categ {
  cursor: pointer;
  margin-top: 5px;
}
.top-categ:hover {
  background-color: #eeeeee;
}
.mtouch {
  width: 150px !important;
}

::-webkit-scrollbar {
  width: 9px;
}
::-webkit-scrollbar-thumb {
  background: #bdbdbd;
  border-radius: 6px;
}
