//****************************************************

.marg-container {
  background: #607d8b !important;
}
.firstTest {
  width: 100%;
  height: 100px;
  background-color: red;
}
.autre-test {
  border-left: 1px solid gray !important;
  border-right: 1px solid gray !important;
  font-family: "Oswald", sans-serif !important;
  font-weight: bolder;
  color: white !important;
  font-size: 16px !important;
}
.autre-test:hover {
  background: #455a64 !important;
}
.testet {
  width: 45px;
  height: 30px;
}
.bord-let {
  display: flex;
  border-bottom: 1px solid white !important;
  width: 200px;
  height: 55px;
  padding: 2px !important;
  align-items: center !important;
  cursor: pointer;
}
.bord-let:hover {
  background: #455a64 !important;


}
.work-tip {
  display: flex;
  flex-direction: column;
}
.ima-test {
  display: flex;
  justify-items: center;
  width: 30px;
  height: 30px;
}
.ima-text {
  width: 150px;
  word-break: break-word;
}
.cm-wow {
  margin-top: 12px !important;
  margin-left: -10px !important;
}
.marg-container {
  margin-top: 35px;
}
.cm-lol {
}
.mr-resist {
  display: flex;
  align-items: center;
}
.btnCat {
  margin-top: 10px;
  margin-bottom: 25px;
}

.btnCatego {
  display: flex;
  justify-content: center;
  align-items: center;
}
