.nav {
  margin-left: 100px;
}

.search {
  width: 400px;
  margin-left: 45px;
}

.title {
  border: 5px solid black;
  border-radius: 8px;
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
}
.cntct-us {
  margin-top: 4px;
  font-family: "Oswald", sans-serif;
  cursor: pointer;
}
.ic-cnts {
  cursor: pointer;
}
.icon-title {
  color: red !important;
}
.text-title {
  margin-left: 5px;
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  display: flex;
  flex-direction: row;
}
.text-tit {
  margin-left: -1px;
  font-family: "Oswald", sans-serif;
  font-size: 34px;
  display: flex;
  flex-direction: row;
  color: red;
}
.input-group.md-form.form-sm.form-1 input {
  border: 1px solid #bdbdbd;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}

.shopIcon {
  color: orange;
  cursor: pointer;
  outline: none !important;
}

.shop-msg {
  margin-right: 48px !important;
  outline: none !important;
}

.dot {
  color: orange;
  margin: 5px;
}

.btnConnecter {
  align-items: center;
}

.collapse {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.searchcollapse {
  width: 350px;
}

.account {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  left: 0;
  height: 40px;
}

.secnctMargin {
  margin-left: 300px;
}

.account:hover {
  background-color: #eceff1;

  border-radius: 10px;
}

.togglename {
  font-family: "Oswald", sans-serif;
  left: 0;
  padding-left: 4px;
  outline: none;
}

.togglename:focus {
  font-family: "Oswald", sans-serif;
  left: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
  outline: none !important;
}

.togglename:active {
  font-family: "Oswald", sans-serif;
  left: 0;
  box-shadow: 0 0 0 0.2rem transparent !important;
}

.pointsContainer {
  padding: 15px 0px 0px 0px;
  margin-left: 15px;
}

.points {
  font-family: "Oswald", sans-serif;
}

.myPoints {
  display: flex;
  flex-direction: row;
  cursor: pointer;
}
.spend-points {
  height: auto;
  color: black;
  width: 250px !important;
  word-wrap: wrap;
}
.diamond {
  margin-right: 4px;
}
.diamond:hover {
  color: blue !important;
}
.number {
  margin-left: 18px;
  color: #9e9e9e;
}

.hov-container {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.shp-hov {
  margin-top: 10px;

  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 15px;
  margin-left: 5px;
  word-break: break-all;
  width: 140px;
}

.shp-prix {
  margin-top: 25px;
  color: red;
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  margin-left: 5px;
}
.ihg {
  display: flex;
  flex-direction: row;
}
.ihet {
  margin-top: 25px;
  margin-left: 50px;
  font-size: 14px;
  color: #9e9e9e;
}
.ligne-hov {
  margin-top: 6px;
  display: flex;
  justify-content: center;
  border-top: 1px dashed #bdbdbd;
  width: 250px;
}

.del-hov {
  color: #546e7a !important;
  cursor: pointer;
}

.img-hove {
  border-radius: 2px;
  height: 60px;
  width: 60px;
}

.img-tac {
  width: 80px;
  height: 80px;
  border: 1px solid #b2ebf2;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  margin-top: 10px;
}

.btnck-container {
  margin-top: 10px !important;
  display: flex;
  flex-direction: column;
}

.btn-ck {
  width: 150px !important;
  margin-left: 96px !important;
  margin-top: 30px !important;
}

.sum-ck {
  position: absolute;
  right: 5px;
  color: red;
  font-family: "Oswald", sans-serif;
}

.tot-ck {
  color: black;
  font-family: "Oswald", sans-serif;
  font-size: 16px;
}
.tot-cont {
  position: absolute;
  left: 15px;
}
